.Transactions-container{
    text-align: center;
}
.Transactions-item-container{
    border: black solid;
    padding: 25px 43px;
    width: 70%;
    display: inline-table;
    text-align: start;
    margin-bottom: 10px;
}
.Transactions-item-title{
    margin-top: 0px;
}
.Transactions-item-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.Transactions-item-subtitle-text{
    font-size: 16px;
}
.Transactions-item-input-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Transactions-item-button{
    width: 82px;
    margin-top: 27px;
    height: 35px;
    background: peru;
}