.Form-container{
    text-align: center;
}
.Form-sub-container{
    border: black solid;
    padding: 25px 43px;
    width: 70%;
    display: inline-table;
    text-align: start;
    margin-bottom: 10px;
}

.Form-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.From-subtitle-text{
    font-size: 16px;
}
.Form-input-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Form-input-label{
    font-size: 20px;
    font-weight: 500;
}
    
.Form-input{
    height: 30px;
    background: aliceblue;
}

.Form-button{
    width: 82px;
    margin-top: 27px;
    height: 35px;
    font-size: 15px;
    border: none;
    background: #f5ce68;
}