.Form-container{
    border: black solid;
    padding: 25px 43px;
    width: 70%;
    margin-bottom: 22px;
}
.Form-title{
    margin-top: 0px;
}
.Form-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.From-subtitle-text{
    font-size: 16px;
}
.Form-input-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Form-input-label{
    font-size: 20px;
    font-weight: 500;
}
    
.Form-input{
    height: 30px;
    background: aliceblue;
}

.Form-button{
    width: 82px;
    margin-top: 27px;
    height: 35px;
    background: peru;
}